extends partial/layout

block site_title
  != __("Categories") + " · " + config.title

block description
  - var desc = page.desc || strip_html(page.content).replace(/^\s*/, "").replace(/\s*$/, "").substring(0, 150);
  meta(name="description", content=desc)

block content
  .autopagerize_page_element: .content
    .archive
      ul.list-with-title
        .listing-title= __("Categories")
        ul.listing
          each cat in site.categories.sort('name').toArray()
            li.listing-item
              .listing-post
                a(href=url_for(cat.path), title=cat.name)= cat.name
                .post-time
                  span.date= cat.length
