include toc
+make_toc(false)

.sidebar.animated
  .sidebar-top
    .logo-title
      .title
        a.logo-link(href="/", title=__("home") || "Home")
          img(src=url_for(theme.logo_dir), alt=config.title + " logo")
        h3(title="")
          a(href="/")= config.title
        if theme.description
          .description
            p!= theme.description
      include social_links

    include nav

    include toc
    +make_toc(true)

  include footer
